<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095828821911-atsfctgogodcomgisujjqg9um9sbqu1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095828821911-atsfctgogodcomgisujjqg9um9sbqu1b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1095828821911-ag3u75sdrhoq0gtn4ihufmbq4fqgiont.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6LzIvwO4NBgj4OsNJbzSulHq3JCpUdg0</string>
	<key>GCM_SENDER_ID</key>
	<string>1095828821911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miitfb.co</string>
	<key>PROJECT_ID</key>
	<string>miit-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>miit-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095828821911:ios:9231d7f59effffc8b596d2</string>
	<key>DATABASE_URL</key>
	<string>https://miit-firebase-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>